@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: theme('colors.background');
    color: theme('colors.foreground');
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: theme('colors.astrideMagenta');
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: theme('colors.astrideCyan');
  }

  /* Support for Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.astrideMagenta') rgba(255, 255, 255, 0.05);
  }
}